.about {
  @include container($max-width: 40em);
  @include clearfix;

  margin-top: 5em;
  margin-bottom: 5em;

  &-img {
    max-height: 25em;

    @media (min-width: 42em) {
      float: left;
      margin-right: 1em;
    }
  }

  &-title {
    margin-bottom: .25em;
  }

  &-subtitle {
    margin: .5em 0;
  }

  &-text {
    text-align: justify;
  }

  a:link, a:visited {
    text-decoration: none;
    color: currentColor;
    border-bottom: 3px solid $accent;
  }

  .underlined {
    border-bottom: 3px solid $accent;
  }

  strong {
    color: $accent;
    font-weight: 700;
    text-transform: uppercase;
  }

  @supports (display: grid) {
    display: grid;
    grid-template-columns: [port-start] minmax(6em, 1fr) [name-start] minmax(6em, 1fr) [img-end] 2fr [port-end];
    grid-column-gap: .2em;

    &-img {
      grid-column: port-start / img-end;
      grid-row: 1 / 2;

      @include mq {
        grid-row: 1 / 4;
      }
    }

    &-title {
      grid-column: name-start / port-end;
      grid-row: 1 / 2;
      align-self: end;
      z-index: 20;

      @include mq {
        grid-column: name-start / img-end;
      }
    }

    &-subtitle,
    &-text {
      grid-column: port-start / port-end;

      @include mq {
        grid-column: img-end / port-end;
      }
    }

    &-subtitle {
      grid-row: 2 / 3;
    }

    &-text {
      grid-row: 3 / 4;
    }
  }
}