body {
  color: $gray;
  font-family: $ff-ss;
  line-height: 1.6;
  background: $white;
  font-size: .875rem;

  @include mq {
    font-size: 1.125rem;
  }
}

img {
  max-width: 100%;
}

h1,h2,p {
  margin-top: 0;
  margin-bottom: 1em;
}

h1 {
  font-family: $ff-s;
  color: $accent;
  line-height: 1;
  font-size: 2.4rem;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba($dark-blue, 0.5);
  letter-spacing: 3px;

  @include mq {
    font-size: 3rem;
  }

}

h2 {
  @include sans-serif($fs: 1.6rem, $color: $dark-gray);

  @include mq {
    font-size: 1.8rem;
  }
}




