.contact {
  @include container;
  padding: 5em 0;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
  }

  &-subtitle {
    text-align: right;
    // align-self: flex-end;
  }

  &-container {
    box-shadow: $shadow;
    padding: 2rem 2.2rem;
    max-width: 16em;
  }

  a:link, a:visited {
    text-decoration: none;
    color: currentColor;
    border-bottom: 3px solid $accent;
    box-shadow: 0px 0px 0px 0px $accent inset;
    transition: box-shadow 250ms ease-in-out, color 250ms ease-in-out, -webkit-box-shadow 250ms ease-in-out;
  }

  a:hover, a:active {
    box-shadow: 0px -30px 0px 0px $accent inset;
    color: $white;

  }

  .underlined {
    box-shadow: 0px 0px 0px 0px $accent inset;
    border-bottom: 3px solid $accent;
    transition: box-shadow 250ms ease-in-out, color 250ms ease-in-out, -webkit-box-shadow 250ms ease-in-out;
    cursor: pointer;

    &:hover {
      box-shadow: 0px -30px 0px 0px $accent inset;
      color: $white;
    }
  }

}