.portfolio {
  text-align: center;
  background: rgba($accent, .05);
  padding: 5em 0;

  
  h1 {
    color: $accent;
  }

  .swiper-container {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 290px;
    height: 380px;
    background: #fff;
    box-shadow: $shadow;
    position: relative;
    
    .title {
      position: absolute;
      top: -10px;
      left: -20px;
      
      h2 {
        font-family: $ff-ss;
        font-weight: 700;
        text-transform: capitalize;
        background: rgba($accent, .9);
        color: $white;
        padding: 0.3em 1em;
      }
    }
    
    &__img-box {
      width: 100%;
      height: 220px;
      overflow: hidden;
      
      img {
        width: 100%;
      }
    }
    
    &__details {
      box-sizing: border-box;
      padding: 20px;
      
      h3 {
        color: rgba($dark-blue, 0.8);
        font-weight: 500;
        margin-top: 0;
        margin-bottom: .5em;
        padding: 0;
        font-size: 1.2rem;
        text-align: center;
        line-height: 1.5;
      }

      .tag-list {
        padding: 0 0.7em;
        list-style: none;
        display: flex;
        justify-content: space-between;

        &__item {
          background: $accent;
          color: $white;
          font-weight: 500;
          padding: .2em .4em;
          font-size: .6rem;
        }
      }

      .button-container {
        margin-top: .5em;
      }

      .project-link:link,
      .project-link:visited {
        display: inline-block;
        font-family: $ff-ss;
        font-size: .8rem;
        margin: .5em;
        padding: .3em .9em;
        border: 1px solid $accent;
        text-decoration: none;
        color: $accent;
        transition: all .3s ease-in-out;
      }

      .project-link:hover,
      .project-link:active {
        background: $accent;
        color: $white;
        transform: translateY(-3px);
      }

    }
  }

}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  // background: #fff !important;
  
  &-active {
    background: $accent !important;
  }
}