.welcome {
  background-image: url(../img/header-bg.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;

  &__wrapper {
    @include container($max-width: 30em);
    max-height: 420px;
    margin-top: 22vh;
    position: relative;
  }

  &__img {
    display: block;
    width: 60%;
    max-width: 15em;
    max-height: auto;
    box-shadow: $shadow-1;
    position: absolute;
    top: 0;
    right: 0;

    @include mq { 
    }


  }

  &__title {
    font-family: $ff-s;
    text-transform: uppercase;
    font-size: 2.4rem;
    letter-spacing: 3px;
    text-shadow: 1px 1px 0 rgba($dark-blue, 0.5);
    position: absolute;
    top: -25px;
    left: 35%;
    transform: translateX(-50%);
    z-index: 10;
    

    @include mq($width: 29em) {
      font-size: 3rem;
      left: 45%; 
      
    }
    
    @include mq {
     font-size: 3.4rem;
    }
  }

  &__info {
    background: $accent;
    color: $white;
    font-family: $ff-ss;
    font-size: 1em;
    padding: .5em 1em;
    width: 65%;
    box-shadow: $shadow;
    position: absolute;
    bottom: 10%;
    left: 0;

    @include mq {
      bottom: -5%;  
    }

    p {
      margin-bottom: .2em;
    }

    a:link, a:visited {
      text-decoration: none;
      color: $white;
      border-bottom: 1px solid $white;
      box-shadow: 0px 0px 0px 0px $white inset;
      transition: box-shadow 250ms ease-in-out, color 250ms ease-in-out, -webkit-box-shadow 250ms ease-in-out;
    }

    a:hover, a:active {
      color: $accent;
      box-shadow: 0px -30px 0px 0px $white inset;
    }
  }



}