$white: #FFFFFF;
$gray: #A7A7A7;
$light-gray: #E8E9EB;
$dark-gray: #606060;
$accent: #03AFC2;
$dark-blue: #223843;

$shadow: 0px 70px 40px -50px rgba(0, 0, 0, 0.2), 0px 3px 20px 8px rgba(0, 0, 0, 0.1);
$shadow-1: 0px 70px 40px -50px rgba(0, 0, 0, 0.2), 0px 3px 20px rgba(0, 0, 0, 0.1);